.contenedor {
  border: 5px solid #e1bee7;
  background-color: rgb(19, 17, 17);
  display: grid;
  grid-template-columns: 150px 190px 170px;
  grid-template-rows: 250px 175px 175px;
  place-content: center;
}
.item {
  font-size: 4rem;
}
.item-1 {
  border: 5px solid #e7261f;
  background-image: url("https://i.pinimg.com/originals/4d/79/21/4d79216d6ae67384655754cc18e6827f.gif");
  background-size: cover;
  grid-column: 1 / 2;
}
.item-2 {
  border: 5px solid #e7261f;
  grid-column: 2 / 4;
  background-size: cover;
  background-image: url("https://i.pinimg.com/originals/d2/9f/aa/d29faa9552316e1f54b83d604f1a0571.png");
}
.item-3 {
  border: 5px solid #e7261f;
  grid-column: 1 / 3;
  background-size: cover;
  background-image: url("https://i.pinimg.com/originals/61/c6/e2/61c6e2f5a99694d36232e20744153ec7.png");
}
.item-4 {
  border: 5px solid #e7261f;
  background-size: cover;
  background-image: url("https://i.pinimg.com/originals/df/4b/ee/df4beef986c0ca61de97a1903322b9f2.jpg");
}
.item-5 {
  border: 5px solid #e7261f;
  background-size: cover;
  background-image: url("https://i.pinimg.com/originals/06/cb/d1/06cbd1e091cbeaacd984d45bc26693bd.jpg");
}
.item-6 {
  border: 5px solid #e7261f;
  background-size: cover;
  background-image: url("https://i.pinimg.com/originals/0a/66/6c/0a666cb60952d415c16e247c96291789.jpg");
}
.item-7 {
  border: 5px solid #e7261f;
  background-size: cover;
  background-image: url("https://i.pinimg.com/originals/b4/df/b8/b4dfb8831033d15e351568dde08144d2.jpg");
}
